// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

p.large {
  font-size: 24px;
}

a {
  color: $primary;
}

blockquote {
  text-align: center;
  font-size: 24px;
  background: #f7f7f7;
  padding: 10px;

  p {
    margin-bottom: 0px;
  }
}

div.card {

  transition: background 0.5s ease;
  &:hover {
    background: #fcfcfc;
  }

  h3 {
    margin: 15px 0;
  }
}

ul.pagination {
  -webkit-box-pack: center!important;
  justify-content: center!important;
}

button.link {
  background: none;
  border: none;
  padding: 0;
  color: $primary;

  &:hover {
    color: $blue;
  }
}